* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: white;
    line-height: 2em;
}

.text-gift_card h2 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.875em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.nav {
    height: 65px;
    background-color: #B59079;
}

.section-gift_card {
    position: relative;
    height: 30em;
}

.image-gift_card {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(gift_card_banner.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    
}

.container-text-gift_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-gift_card {
    position: relative;
    text-align: center;
}


.main-wrapper {
    padding: 10em 2em 2em 2em;
}

.global-wrapper  {
    background: linear-gradient(180deg, #E4EAE4, #fff);

}

.main-wrapper h2 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}

.main-wrapper h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    color: #fff;
    line-height: 1.6em;
}

.main-wrapper p {
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.7em;
    font-family: 'Poppins', sans-serif;
    margin-top: 12px;
}

.gift_card:first-child {
    margin-right: 24px;
}


.gift_card {
    width: 100%;
    height: 579px;
    background-color:#B59079;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(250, 250, 250);
    cursor: pointer;
    z-index: 1;
    margin-bottom: 16em;
}


.body-gift_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.content-gift_card {
    margin: 1rem 0;
    color: #222;
    margin-top: -250px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    padding: 0 3em 2em 2em;
    background-color: #B59079;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 2px rgb(250 250 250);
    z-index: 1;
    height: 400px;
}


.body-gift_card p {
    margin-top: 12px;
}

.offer-body-gift_card p {
  text-align: center;
}

.gift_card-title {
    padding: 3em 3em 0 3em;
}


.content-gift_card h5 {
    margin-top: 12px;
}

.gift_card:hover > .content-gift_card{
    margin-top:0;
    opacity:1;
    visibility:visible;
    display: block;
  }

.gift_card:hover .image-offer-gift_card, .gift_card:hover .image-experience-gift_card {
    margin-top: -140px;
    box-shadow: 0 0 4px 6px rgb(0 0 0 / 30%);
}

.text-offer-gift_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-button_price-gift_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .button-gift_card:last-child, .button-gift_card:nth-last-child(2){
    margin-top: 12px;
} */

.button-gift_card {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    line-height: 1em;
    padding: 15px 25px;
    color: #ffffff;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    text-transform: none;
    background: #000;
    border: 1px solid #000;
    border-radius: 1rem;
}

.image-offer-gift_card {
    background-image: url(gift_card_offer_1.jpg);
    width: 100%;
    height: 355px;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    transition: all .5s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-experience-gift_card {
    background-image: url(gift_card_experience_1.jpg);
    width: 100%;
    height: 355px;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    transition: all .5s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gift_card h2 {
   text-align: center;
}

.image-functioning-gift {
    background-image: url(gift.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.image-functioning-search {
    background-image: url(search.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.image-functioning-checked {
    background-image: url(checked.svg);
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.image-functioning-mail {
    background-image: url(mail.svg);
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
    margin-top: 4em;
}

.image-functioning_text {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600 ;
    display: block;
    margin: 16px auto;
}



.image-functioning_wrapper {
    display: flex;
    height: 300px;
    margin-left: 120px;
}


.content-image_functioning {
    width: 50%;
}

.wrapper-functioning h2 {
    color: #222;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.image-functioning_wrapper_end {
    height: 600px;
    margin-left: 120px;
    margin-top: 8em;
}



.image-functioning_wrapper > p {
    margin: auto;
    font-size: 2em;
    font-weight: 600;
}


.fa-solid .fa-gift{
    margin: 0 auto;
}

.functioning-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    opacity: 0;
    margin-bottom: 4em;
}

.functioning-sub-steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes animation-functioning-left {
    from {
        margin-left: -3000px;
        opacity: 0;
      }
    
      to {
        margin-left: 0;
        opacity: 1;
      }
    
  }
@keyframes animation-functioning-right {
    from {
        margin-right: -3000px;
        opacity: 0;
    } to {
        margin-right: 0;
        opacity: 1;
    }
    
  }


.functioning-steps h4 {
    margin: 2em 0;
    padding: 15px 25px;
    background-color: #B59079;
    color: white;
    font-weight: 700;
    font-size: 2em;
    border-radius: 10px;
    width: 90%;
    text-align: center;
}

.functioning-steps p {
    margin: 1.5em 1em;
    font-weight: 700;
    text-align: center;
}
.where{
    font-weight: 700;
    text-align: center;
    font-size: 2em;
}

.main-wrapper ~ h2 {
    text-align: center;
    font-size: 68px;
    margin-bottom: 2em;
}

.after-space {
    display: none;
}


    /****************************************************** ******************************************************/
    /****************************************************** ******************************************************/


/******************************************************** FORM **********************************************************/


    /****************************************************** ******************************************************/
    /****************************************************** ******************************************************/




h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 1.5em 2em;
    font-size: 2.5em;
}

.input-form:not(.customize-card .input-form) {
    border-radius: 23px;
    height: 55px;
    width: 100%;
    font-size: 1.2em;
    padding: 0 1em;

}
.label-form {
    margin-bottom: 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 550;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2em;
}


.image-experience-customize_card {
    background-image: url(gift_card_offer_1.jpg);
    width: 100%;
    height: 255px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 2em auto;
}

.form-wrapper .inputbox {
    position: relative;
    border-radius: 23px;
  }
/* 
.form-wrapper .inputbox input:focus ~ span,
.form-wrapper .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-45px);
} */

 /* .transformSpan {
    transform: translateX(-13px) translateY(-45px);
} */

 /* input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
} */


.customize-card_accept .label-form {
    margin-right: 1.2em;
}


.customize-card_accept  {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.customize-card h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2em;
    color: white;
}


.button-customize_card {
    display: block;
    width: 60%;
    font-family: 'Poppins', sans-serif;
    margin: 2em auto;
    line-height: 1em;
    padding: 15px 25px;
    color: #ffffff;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    background: #000;
    border: 1px solid #000;
    border-radius: 1rem;
    cursor: pointer;
}


.customize-card {
    padding: 2em;
    margin: 2em;
    background-color: #B59079;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}







    /****************************************************** ******************************************************/
    /****************************************************** ******************************************************/
    /****************************************************** ******************************************************/
    /****************************************************** ******************************************************/
/******************************************************** MEDIA-QUERIES **********************************************************/






@media screen and (min-width: 884px) {
    .main-wrapper {
        display: flex;
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5%;
        grid-auto-flow: column; 
    */
    }
    .container {
        margin: 0 auto;
        max-width: 1280px;
    }

    .gift_card {
        height: 540px;
        width: 50%;
    }

    .functioning-steps h4 {
        display: none;
    }

    .functioning-steps p {
        margin: 1.5em 1em;
        width: 450px;
    }

    
    .wrapper-step-two-three {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .steps-wrapper{
        position: relative;
    }
    
      .steps-wrapper .wrapper-step-one:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 96.2%;
        background: #B59079;
        margin-left: 1.2%;
        border-radius: 5px;
      }
    
      .steps-wrapper:before{
        content:"1";
        width: 30px;
        height: 30px;
        border: 2px solid #B59079;
        display: block;
        border-radius: 50%;
        line-height: 30px;
        background: white;
        color: #B59079;
        text-align: center;
        font-weight: bold;
        z-index: 9999;
      }

      .wrapper-step-two-three .functioning-steps:first-child:before{
        content:"2";
        width: 30px;
        height: 30px;
        border: 2px solid #B59079;
        display: block;
        border-radius: 50%;
        line-height: 30px;
        background: white;
        color: #B59079;
        text-align: center;
        font-weight: bold;
        margin-right: 255%;
        z-index: 1000;
      }

      .wrapper-step-two-three .functioning-steps:nth-child(2):before {
        content:"3";
        width: 30px;
        height: 30px;
        border: 2px solid #B59079;
        display: block;
        border-radius: 50%;
        line-height: 30px;
        background: white;
        color: #B59079;
        text-align: center;
        font-weight: bold;
        margin-right: 255%;
        z-index: 1000;
      }

    .wrapper-step-one .functioning-steps {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .functioning-sub-steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
      }

      .functioning-sub-steps {
        margin-left: 1.2%;
      }


      .customize-form {
        display: flex;        
        margin: 2em;
        justify-content: space-around;
    }

    .customize-form .form-wrapper {
        width: 60%;
    }

    /* .input-form:not(.customize-card .input-form) {
        margin-bottom: 1.7em;
    }
 */

    
    .customize-card {
        min-width: 420px;
    }
    
}




.input-form {
    border: 1px solid #ccc;
    padding: 7px 14px; 
    transition: 0.4s; 
    border-radius: 23px;
}

.input-form ~ .focus-border:before,
.input-form ~ .focus-border:after{
    content: ""; 
    position: absolute; 
    width: 0; 
    height: 0px; 
    transition: 0.4s;
    left: 0;
    right: 0;
}

.input-form:focus ~ .focus-border:before,
.input-form:focus ~ .focus-border:after,
.has-content.input-form ~ .focus-border:before,
.has-content.input-form ~ .focus-border:after {
    height: 92%; 
    transition: 0.6s;
    border-radius: 23px;
    border: 2px solid #B59079;
    width: 99.5%;
}

.input-form ~ label{
    position: absolute; 
    left: 15px; 
    width: 100%; 
    top: 15px; 
    color: #aaa; 
    transition: 0.3s; 
    letter-spacing: 0.5px;
}
/* .input-form:focus ~ label, .has-content.input-form ~ label{
    top: -18px; 
    left: 0; 
    font-size: 12px; 
    color: #3399FF; 
    transition: 0.3s;
} */


input:focus{
    outline: none;
}

input[type=text]:focus ~ label,
input[type=text]:valid ~ label, 
input[type=number]:focus ~ label,
input[type=number]:valid ~ label,
input[type=date]:focus ~ label,
input[type=date]:valid ~ label {
    top: -18px; 
    left: 0; 
    font-size: 12px; 
    color: #3399FF; 
    transition: 0.3s;
}

input[type=text]:valid {
    background-color: rgb(248, 184, 89);
}

/* input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
} */
input[type=date]::-webkit-datetime-edit,
input[type=date]::-webkit-datetime-edit-fields-wrapper,
input[type=date]::-webkit-datetime-edit-text,
input[type=date]::-webkit-datetime-edit-month-field,
input[type=date]::-webkit-datetime-edit-day-field,
input[type=date]::-webkit-datetime-edit-year-field,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator{
    display: none;
}
